footer {
  // width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  justify-content:center;
  align-items: flex-end;
  bottom: 0;
  margin-bottom: 2em;
  font-size: 1rem;
}
footer .footer-lines {
  display:flex;
}
footer .footer-line {
  width: 1.5rem;
  height: 3px;
  background-color: #ffffff;
  transform:rotate(90deg);
}
footer .footer-scroll {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 6em;
  left:70%;
  transform:rotate(90deg);
  font-size: 10px;
}
footer .footer-scroll_text {
  padding:4px;
}
footer .footer-scroll_line {
  width: 9rem;
  max-width: 200px;
  height: 2px;
  background-color: white;
}