@import'mixins';

main {
  @include baseStyles;
  .container-section {
    visibility: hidden;//esto sirve para ocultar el elemento pero sin eliminarlo o sacarlo del dom
  }
  .slide {
    animation-name: slide;
    animation-duration: 0.5s;
    visibility: visible !important;
  }
  @keyframes slide {
    0% {
      transform: translateX(-105%) translateZ(0px);
    }
    100% {
      transform: translateX(0%) translateZ(0px);
    }
  }

  .section-home {
    padding-top: 30em;
    height: 100vh;
    font-size: 1rem;
    .container-section {
      bottom: 25%;
    }
    .title {
      margin-top: 1em;
      font-size: 2em;
    }
  }
  .top {
    animation-name: top;
    animation-duration: 0.7s;
    transform: translatey(-100vh);
    margin-top: 12%;
  }
  @keyframes top {
    0%{
      transform: scale(1);
    }
    50%{
      transform:scale(0.5);
    }
    60% {
      transform: translatey(-10vh);
    }
    100%{
      transform: translatey(-100vh);
    }
  }

  .topRevers {
    animation-name: topRevers;
    animation-duration: 0.7s;
    transform: translatey(100vh);
  }
  @keyframes topRevers {
    0%{
    transform: translatey(100vh);
    }
    50%{
    transform: translatey(10vh); 
    }
    60% {
    transform:scale(0.5);  
    }
    100%{
    transform: scale(1);
    }
  }


  .top2{
    transition-duration: .5s;
    transform: translatey(-100vh);
    padding-bottom: 10%;
    // margin-bottom: 10rem;
  }
  .top3 {
    transition-duration: .5s;
    transform: translatey(-200vh);
    // margin-bottom: 10rem;
  }
  .top4 {
    transition-duration: .5s;
    transform: translatey(-300vh);
  }
  

  @include stylesImages;
}