#menu {
	position: fixed;
	right: 0%;
	background-color: rgba($color: #000000, $alpha: 0.4);
	list-style: none;
	width: 100%;
	height: 100vh;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	i:hover{
		cursor: pointer;
		color: #FF4D5A;
		transition: 0.5s;
	}
	li {
		list-style: none;
		margin-top: 3rem;
		font-size: 2.5rem;
		border-bottom: solid 5px white;
		cursor: pointer;
	}
	li:hover {
		color: #FF4D5A;
		transition: 0.5s;
	}
	// visibility: hidden;
}