@import'footer';
@import'header';
@import'home';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0%;
}

:root {
	--white: #FFFFFF;
  --red: #FF4D5A;
	--black: #000000;
}

html {
	font-size: 62.5%;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
	@media (min-width: 480px){
		font-size: 18px;
		.portafolio-container .card .card-container .card-title  {
			font-size: 25px;
		}
		.portafolio-container .card .card-container .card-text{
			font-size: 15px;
		}
	}
	@media (min-width: 600px){
		font-size: 20px;
		main .section-general .section-image {
			object-fit: contain;
		}
	}
	@media (min-width: 860px){
		font-size: 30px;
		header {
			font-size: 0.8rem;
		}
	}
	@media (min-width: 1200px){
		font-size: 35px;
	}
}

body {
	background-image: linear-gradient(43deg, #020c17 0%, #0b2241 43%, #1f3755 100%);
	// background-color: #FF4D5A;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

#root {
	width: 99%;
	height: 99%;
	display: flex;
	justify-content: center;
}

a {
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
}